doctype html
html
  head
    title Light or Dark?
    link(rel="stylesheet", href="index.styl")
    script(src="index.js")
  body
    #black(onclick="choose('black');changeColor()") Some<br>Text
    #white(onclick="choose('white');changeColor()") Some<br>Text